html {
    position: relative;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
    background-color: black;
    background-image: url(/default_attributes/Static/starryBackground.jpg);
}

body {
    background-repeat: repeat;
    display:flex;
    background-size: contain;
    overflow-x: hidden;
}    

#loading-window {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
}

.loading-circle {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #7ce6f0; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 5vh;
  animation: spin .2s linear infinite;
  display: block;
}

#loading-logo {
  width: 35vh;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40vh;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-list {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 3.8%;
  font-size: .85vw;
  list-style: none;
  margin-top: 2vh;
}

.nav-list li a:hover {
  color: #7ce6f0;
  transition: all 400ms ease;
}

.nav-list li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#nav-visibility-bar {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 8%;
  margin-top: 0%;
  background-color: black;
  opacity: 0;
  border-radius:50px;
  border-right: 100px;
  transition: opacity 600ms ease-in-out;
  margin-left: 1%;
}

main {
  margin-bottom: 110vh;
  overflow-x: hidden;
}

#philosophic-helper {
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom: 0px;
  width: 250px;
  opacity: 0%;
  transition: opacity 1000ms ease-in-out;
  pointer-events:none;
  z-index: 3;
}

#phb {
  all: unset;
}
#ph-button:hover {
  opacity: 50%;
}

#ph-button{
  transition: all 500ms ease-in-out;
  z-index: 0;
}
#ph-content {
  background-color: white;
  width: 350px;
  height: 500px;
  overflow-y: auto;
  position: fixed;
  border-radius: 15px 15px 0px 0px;
  bottom:0%;
  outline-style: outset;
  outline-color: grey;
  opacity: 0%;
  transition: all 250ms ease-in-out;
  pointer-events: none;
  margin-left: 4px;
  z-index: 4;
}

#x-button {
  width:30px;
  height:30px;
  margin-left: 81%;
  margin-top: 2%;
  background:none;
  border:none;
}

#x-button:hover {
  opacity: 50%;
}
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 20px;
  bottom: 1%;
  left: 1%;
  z-index: 3;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  position: absolute;
  bottom: -3%;
  width: 100%;
  z-index: 3;
}

footer p {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 200;
  padding-bottom: 10px;
}

#footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  list-style: none;
}

#footer-list li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 3vw;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 500ms ease-in-out;
  font-size: 12px;
  text-align:center;
}

#footer-list li a:hover {
  color:#7ce6f0;
}

#footer-logo {
  bottom: 8vh;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 500ms ease-in-out;
}

#footer-logo:hover {
  opacity: 75%;
}


@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}
  
  /* Track */
::-webkit-scrollbar-track {
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #7ce6f0;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search-box:hover {
  opacity: 75%;
}

#SearchLogo {
  margin-top: 4px;
  height: 23px;
  width: 23px;
  filter: invert(100%);
}

#input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 750ms ease-in-out;
  background-color: #7ce6f0;
  padding-right: 40px;
  color:#fff;
}

#input-search::placeholder{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:white ;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ #input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms ease-in-out;
}

#input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#HeaderLogo {
  margin-right: 2.15rem;
  width: 27vw; 
}

#HeaderLogo:hover {
  opacity: 75%;
  transition: all 400ms ease;
}

#low-nav-width-btn {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex: 1;
  left: 3.5%;
  top: 2.5%;
  padding: 0;
  border: none;
  background: none;
  color: white;
  font-size: 5vh;
  z-index:2;
  opacity: 100%;
}

#low-nav-width-btn:hover {
  opacity: 50%;
}

.low-nav-width-drop-down{
  display:inline-block;
  position:relative;
}

.low-nav-width-drop-down button:focus{
  border:none;
  padding:8px 16px;
  background-color:grey;
  color:black;
  transition:.3s;
}

.low-nav-width-drop-down div{
  justify-content: center;
  align-items: center;
  background-color:rgba(0,5,20,200);
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
  z-index:3;
  visibility:hidden;
  position:fixed;
  bottom: -6%;
  width:36.25vw;
  height:50vh;
  opacity:0;
  border-radius:10px;
  left: 0%;
  pointer-events: none;
  transition: all 500ms ease-in-out;
}

.low-nav-width-drop-down:hover div{
  visibility:visible;
  opacity:1;
  transform: translateY(-50px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.low-nav-width-drop-down div a{
  display:block;
  width: 100%;
  text-decoration:none;
  padding: 18px 0px;
  transition:.1s;
  white-space:nowrap;
  color: black;
  justify-content: center;
  align-items: center;
  
}

.low-nav-width-drop-down div a:hover{
  color:black;
}

.low-width-nav-list {
  width: 100%;
  position: fixed;
  height: 60px;
  font-size: 17.5px;
  list-style: none;
  list-style-type: none;
}

.low-width-nav-list li a:hover {
  color: #7ce6f0;
}

.low-width-nav-list li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 400ms ease;
  text-decoration: none;
  font-weight: bold;
  color: white;
  list-style: none;
  justify-content: center;
  text-align:center;
}

#drop-down-content {
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 32%;
}

#search-results-content {
  width: 300px;
  background-color: rgba(0,0,0,200);
  position: fixed;
  border-radius: 0px 0px 10px 10px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  outline-style:outset;
  outline-color: rgba(255,255,255,0.5);
  outline-width: .8px;
}

.results-lists {
  font-size: 2vh;
  color: black;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 12.5px;
}

#moduleslist {
  display: none;
  position: fixed;
  border-radius: 15px;
  row-gap: 8px;
  padding: 5px 0px;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-left: -12.5px;
  list-style: none;
}

#moduleslist li a {
  margin-left: 25px;
}

#modulesdropdown:hover + #moduleslist{
  display: grid;
}

#moduleslist:hover {
  display: grid;
}
