html {
    position: relative;
    animation: fadeInAnimation ease .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-height: 112%;
    scroll-behavior: smooth;
}

body {
    transition: 1s;
    background-image: url(/Static/starryBackground.jpg);
    background-repeat: repeat; /* Do not repeat the image */
    display:flex;
    background-color: black;
    background-size: contain;
}    

main {
  display:flex;
  margin-bottom: 50vh;
}

#philosophic-helper {
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom: 0px;
  width: 18.5%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 1000ms ease-in-out;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: rgba(0,5,20,200);
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: black;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #7ce6f0;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,1);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search-box:hover {
  opacity: 75%;
}

#SearchLogo {
  margin-top: 4px;
  height: 23px;
  width: 23px;
  filter: invert(100%);
}

#input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 750ms ease-in-out;
  background-color: #7ce6f0;
  padding-right: 40px;
  color:#fff;
}

#input-search::placeholder{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:white ;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ #input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms ease-in-out;
}

#input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#HeaderLogo {
  margin-right: 2.15rem;
  width: 27vw; 
}

#HeaderLogo:hover {
  opacity: 75%;
  transition: all 400ms ease;
}

.nav-list {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 3.8%;
  font-size: .85vw;
  list-style: none;
  margin-top: 2.25vh;
}

.nav-list li a:hover {
  color: #7ce6f0;
  transition: all 400ms ease;
}

.nav-list li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#nav-visibility-bar {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 8%;
  margin-top: .25%;
  background-color: rgba(0,5,20,200);
  opacity: 0;
  border-radius:50px;
  border-right: 100px;
  transition: opacity 600ms ease-in-out;
  margin-left: 1%;
}

#low-nav-width-btn {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex: 1;
  left: 3.5%;
  top: 0.6%;
  padding: 0;
  border: none;
  background: none;
  color: white;
  font-size: 5vh;
  z-index:2;
  opacity: 100%;
}

#low-nav-width-btn:hover {
  opacity: 50%;
}

.low-nav-width-drop-down{
  display:inline-block;
  position:relative;
}

.low-nav-width-drop-down button:focus{
  border:none;
  padding:8px 16px;
  background-color:grey;
  color:black;
  transition:.3s;
}

.low-nav-width-drop-down:hover button{
  background-color:grey;
}

.low-nav-width-drop-down div{
  justify-content: center;
  align-items: center;
  background-color:rgba(0,5,20,200);
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
  z-index:3;
  visibility:hidden;
  position:fixed;
  bottom: -6%;
  width:36.25vw;
  height:50vh;
  opacity:0;
  transition: 300ms ease-in-out;
  border-radius:10px;
  pointer-events: none;
  left: 0%;
}

.low-nav-width-drop-down:hover div{
  visibility:visible;
  opacity:1;
  transform: translateY(-50px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.low-nav-width-drop-down div a{
  display:block;
  width: 100%;
  text-decoration:none;
  padding: 18px 0px;
  transition:.1s;
  white-space:nowrap;
  color: black;
  justify-content: center;
  align-items: center;
  
}

.low-nav-width-drop-down div a:hover{
  color:black;
}

.low-width-nav-list {
  width: 100%;
  position: fixed;
  height: 60px;
  font-size: 17.5px;
  list-style: none;
  list-style-type: none;
}

.low-width-nav-list li a:hover {
  color: #7ce6f0;
}

.low-width-nav-list li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 400ms ease;
  text-decoration: none;
  font-weight: bold;
  color: white;
  list-style: none;
  justify-content: center;
  text-align:center;
}

#drop-down-content {
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 32%;
}

#search-results-content {
  width: 300px;
  background-color: rgba(0,5,20,200);
  position: fixed;
  border-radius: 10px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  outline-style:outset;
  outline-color: white;
}

.results-lists {
  font-size: 2vh;
  color: black;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 12.5px;
}
