html {
    position: relative;
    animation: fadeInAnimation ease .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-height: 112%;
}

body {
    transition: 1s;
    background-color: darkslategray;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    display:flex;
}    

main {
  display:flex;
  margin-bottom: 50vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: rgb(47,55,55);
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(47,89,89,255);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(47,55,55,255);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(47,60,60,255);
}

