#dark-mode-button {
    position: fixed;
    margin-top: 2vh;
    margin-left: 1.5vw;
    width: 1vw;
    height: 7vh;
    border-radius: 15px;
    background-color: black;
}

#dark-mode-button:hover {
    opacity: 75%;
}

#dark-mode-slider {
    position: fixed;
    margin-left: -.3vw;
    margin-top: -3.2vh;
    width: .8vw;
    height: 2vh;
    border-radius: 15px;
    background-color: white;
}
*{
    box-sizing: border-box;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.search-box:hover {
    opacity: 75%;
}

#SearchLogo {
    margin-top: 4px;
    height: 20px;
    width: 20px;
    filter: invert(100%);
}

#input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #7ce6f0;
    padding-right: 40px;
    color:#fff;
}

#input-search::placeholder{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:white ;
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ #input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#text {
    position: absolute;
    margin-top: 150vh;
    font-size: 100vh;
}

#HeaderLogo {
    margin-right: 2.15rem;
    width: 28vw; 
}

#HeaderLogo:hover {
    opacity: 75%;
}

.nav {
    list-style: none;
}

.nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 96%;
    height: 60px;
    font-size: .9vw;
    list-style: none;
}

.nav-list li a:hover {
    color: #7ce6f0;
}

.nav-list li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    margin-right: 2rem;
    transition: all 400ms ease;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#low-nav-width-btn {
    display: none;
    position: fixed;
    margin-top: 92vh;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 48%;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 6vh;
}

#low-nav-width-btn:hover {
    opacity: 75%;
}

.low-nav-width-drop-down{
    display:inline-block;
    position:relative;
    margin-top: 2%;
}

.low-nav-width-drop-down button:focus{
    border:none;
    padding:8px 16px;
    background-color:grey;
    color:black;
    transition:.3s;
}

.low-nav-width-drop-down:hover button{
    background-color:grey;
}

.low-nav-width-drop-down div{
    justify-content: center;
    align-items: center;
    background-color:#fff;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:fixed;
    margin-top:55vh;
    width:40vw;
    height:50vh;
    opacity:0;
    transition: 300ms ease-in-out;
    border-radius:10px 10px 10px 10px;

}

.low-nav-width-drop-down:hover div{
    visibility:visible;
    opacity:1;
    transform: translateY(-50px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.low-nav-width-drop-down div a{
    display:block;
    text-decoration:none;
    padding:8px;
    transition:.1s;
    white-space:nowrap;
    color: black;
    
}

.low-nav-width-drop-down div a:hover{
    color:black;
}

.low-width-nav-list {
    position: fixed;
    flex: 1;
    height: 60px;
    font-size: 2.8vw;
    list-style: none;
    margin: 0 auto;
    list-style-type: none;
    padding: 1vh 11.6vw;
}

.low-width-nav-list li a:hover {
    color: #7ce6f0;
}

.low-width-nav-list li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 400ms ease;
    text-decoration: none;
    font-weight: bold;
    color: black;
    list-style: none;
    justify-content: center;
    text-align:center;
}

#drop-down-content {
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 32%;
}