<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>Template | Coders Maxims</title>
      <link rel="stylesheet" href="/default_attributes/PageAttributes.css">
      <link rel="stylesheet" href="index.css"> <!-- Name Of File Here-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="icon" href="/default_attributes/Static/codersmaximsicon.png">
   </head>
   <body>
    <main>
        <!-- Start Here -->
        <footer>
            <ul id="footer-list">
               <li><a>Contact</a></li>
               <li><a>References</a></li>
               <li><a>Partners</a></li>
               <li><a>Help</a></li>
               <li><a>Sitemap</a></li>
               <li><a href="/s_dir/PrivacyPolicy/">Privacy Policy</a></li>
               <li><a></a></li>
            </ul>
              <a href="/"><img src="/default_attributes/Static/CodersMaximsLogo.png" id="footer-logo"></img></a>
              <p>"Programming fundamentals for all."</p>
           </footer>
    </main>
    <!-- !!! START OF COPY !!! -->
    <header>
        <nav>
         <div id="loading-window">
            <img src="/default_attributes/Static/CodersMaximsLogo.png" id="loading-logo">
            <div class="loading-circle"></div>
         </div>
         <div id="ph">            
            <div id="ph-button"><button onclick="phContent()" id="phb"><img src="/default_attributes/Static/philoHelper.png" id="philosophic-helper"/></button></div>
            <div id="ph-content">
               <button id="x-button"onclick="closePHContent()"><img id="x-button" src="/default_attributes/Static/xbutton.png"></button>
               <h1>Frequently Asked Questions</h1> <!-- Dedicated Page? -->
               <div id="faq-1">
                  <h2>Question</h2>
                  <p>Answer</p>
               </div>
               <div id="faq-2">
                  <h2>Question</h2>
                  <p>Answer</p>
               </div>
               <div id="faq-3">
                  <h2>Question</h2>
                  <p>Answer</p>
               </div>

               <div id="question-not-answered">
                  <a>More</a> <!-- Dedicated Page-->
               </div>

               <div id="Feedback"></div> <!-- Email Submission -->
            </div>
         </div>
            <label class="switch">
                <input type="checkbox" checked id="phCheckBox" onclick="phLS()">
                <span class="slider round"></span>
            </label>
           <div id="nav-visibility-bar"></div>
           <ul class="nav-list">
              <li class="nav-list-item"><a href="/"><img src="/default_attributes/Static/CodersMaximsLogo.png" id="HeaderLogo"></img></a></li>
              <li class="nav-list-item"><a href="/">Home</a></li>
              <li class="nav-list-item">
               <a href="/Modules/" id="modulesdropdown">Modules ⮟</a>
                  <ul id="moduleslist">
                     <li><a href="/Modules/U1">Unit 1</a></li>
                     <li><a href="/Modules/U2">Unit 2</a></li>
                     <li><a href="/Modules/U3">Unit 3</a></li>
                     <li><a href="/Modules/U4">Unit 4</a></li>
                     <li><a href="/Modules/U5">Unit 5</a></li>
                  </ul>
            </li>
              <li class="nav-list-item"><a href="/Overview/">Overview</a></li>
              <li class="nav-list-item"><a href="/Resources/">Resources</a></li>
              <li class="nav-list-item"><a href="/Projects/">Projects</a></li>
              <li class="nav-list-item"><a href="/References/">References</a></li>
              <li class="nav-list-item"><a href="/Contact/">Contact</a></li>
              <li class="nav-list-item">
                 <div class="search-box" id="search-button">
                    <button class="btn-search"><img src="/default_attributes/Static/SearchLogo.png" id="SearchLogo"></img></button>
                    <i class="fa fa-search"></i>
                    <input type="text" name="" id="input-search" onkeyup='Search()' placeholder="Search...">
                    <ul id="search-results-content">
                    </ul>
                </li>
           </ul>
        </nav>
     </header>
     
     <div class="low-nav-width-drop-down">
        <div id="drop-down-content">
           <ul class="low-width-nav-list">
            <li class="nav-list-item"><a href="/">Home</a></li>
            <li class="nav-list-item"><a href="/Modules/">Modules</a></li>
            <li class="nav-list-item"><a href="/Overview/">Overview</a></li>
            <li class="nav-list-item"><a href="/Resources/">Resources</a></li>
            <li class="nav-list-item"><a href="/Projects/">Projects</a></li>
            <li class="nav-list-item"><a href="/References/">References</a></li>
            <li class="nav-list-item"><a href="/Contact/">Contact</a></li>
           </ul>
        </div>
        <span><button id="low-nav-width-btn">☰</button></span>
    </div>
   </body>

   <script src="/default_attributes/JavaScript/LowNavWidth.js"></script>
   <script src="/default_attributes/JavaScript/Search.js"></script>
   <script src="/default_attributes/JavaScript/Misc.js"></script> 
   <script src="/default_attributes/JavaScript/pageJump.js"></script>
   <script src="/default_attributes/JavaScript/philosophicHelper.js"></script>
   <script src="/default_attributes/JavaScript/loadingScreen.js"></script>

</html>